.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-container {
    max-width: 80%;
    width: 100%;
    background-color: #1c1d1f;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #282B30;
    padding: 2rem;
    min-height: 894px;
    position: relative;
}

td,th {
    font-size: 12px;
    text-align: start;
    font-weight: 600;
}

thead {
    height: 30px;
}

.quantity-and-search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    color: #D2D5DA;
}

.quantity-and-search span {
    font-size: 16px;
    font-weight: 500;
}


.searchBar {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 12px;
    background-color: #282B30;
    width: 300px;
    padding-left: 0.5rem;
}

.quantity-and-search input {
    background-color: transparent;
    border: none;
    padding-left: 0.5rem;
    width: 290px;
    color: #D2D5DA;
    outline: none;
}

.quantity-and-search input::placeholder {
    color: #D2D5DA;
    font-size: 14px;
    font-weight: 500;
}

.separator {
    border-bottom: 1px solid #282B30;
    padding: 0.5rem 0.5rem;
}

.flag-list {
    width: 50px;
    height: 40px;
    border-radius: 8px;
}

tbody td {
    padding: 5px;
}


.table-filter-body {
    display: flex;
}

.table-filter-body aside {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: start;
    align-items: start;
}

.table-filter-body table {
    width: 800px;
}

@media screen and (max-width:640px){

    .main-container {
        align-items: end;
        padding: 1rem;
    }

    .table-container {
        padding: 1rem;
        max-width: 90%;
    }
    .quantity-and-search {
        flex-direction: column;
        width: 100%;
        align-items: start;
        gap: 16px;
    }
    .searchBar ,
    .quantity-and-search input {
        width: 100%;
    }

    .table-filter-body {
        flex-direction: column  ;
    }

    .table-filter-body  aside {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .table-filter-body table {
        width: 100%;
    }

    .pagination {
        position: initial;
    }
}